<div class="profile-view-container">
  <div class="card">
    <form class="search-container" [formGroup]="search">
      <span class="search-title">Recherche</span>
      <div class="field">
        <label for="name" class="floating">Nom</label>
        <input type="text" id="name" formControlName="name">
      </div>
      <div class="field">
        <label for="job" class="floating">Métier</label>
        <input type="text" id="job" formControlName="job">
      </div>
      <div class="field">
        <label for="location" class="floating">Localisation</label>
        <input type="text" id="location" formControlName="location">
      </div>
      <div class="field">
        <mat-slide-toggle formControlName="available">Disponible uniquement</mat-slide-toggle>
      </div>
    </form>
  </div>
  <div class="card">
    <table>
      <tr>
        <th>Nom</th>
        <th>Métier</th>
        <th>Localisation</th>
        <th>Disponibilité</th>
      </tr>
      <tr *ngFor="let profile of profiles$ | async">
        <td>{{ profile.name }}</td>
        <td>{{ profile.job }}</td>
        <td>{{ profile.location }}</td>
        <td>
          <div class="availability-badge" [ngClass]="profile.available ? 'available' : 'unavailable'">
            {{ profile.available ? 'Disponible' : 'Indisponible' }}
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
